<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControleGastos.Properties.Settings.controle_gastoConnectionString"
            connectionString="Data Source=DESKTOP-M09FKRJ\SQLEXPRESS;Initial Catalog=controle_gasto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>